{% extends 'base.html' %}

{% block step %}0{% endblock %}

{% block title %}
ScanFace - VISNET
{% endblock %}


{% block css %}
#scanani{
margin: 25px auto 0px auto;
border-radius: 200px;
overflow: hidden;
width:500px;
height: 400px;
animation: animi-border 2s ease-in-out infinite;
}

#scanani1{
position : relative;
margin: auto;
border-radius: 200px;
overflow: hidden;
width:550px;
height: 450px;
animation: animi-border 3s linear infinite;
}

.scan_icon{
position: absolute;
width: 100%;
height: 50px;
top: 0px;
opacity: 0.2;
background-color: black;
animation: scan_icon 1.5s linear infinite;
}
@keyframes scan_icon {
0%{
top: 0px;
}
50%{
background-color: white;
top: 500px;
}
100%{
top : 0px;
}
}
@keyframes animi-border{
0%{
border-bottom : 3px solid orangered;
}
10%{
border-left: 3px solid transparent;
border-right: 3px solid transparent;
}
25%{
border-left : 3px solid lightskyblue;
border-right : 3px solid lightskyblue;
}
30%{
border-bottom: 3px solid transparent;
}
50%{
border-top: 3px solid blue;
}
60%{
border-left: 3px solid transparent;
border-right: 3px solid transparent;
}
75%{
border-left: 3px solid orange;
border-right : 3px solid orange;
}
85%{
border-top: 3px solid transparent;
}
100%{
border-bottom: 3px solid orangered;
}
}
.col-sm-6{
    text-align: right;
    margin-right: 3px;
    color: white;
}
input[type="text"]
    {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-bottom: 2px solid rgb(255, 193, 7);
        color: white;
    }
    input[type="text"]::placeholder {
        color: white;
    }
{% endblock %}

{%  block body%}

<div class="row">
    <div class="">
        <form action="/revisit/" method="POST" style="width:1500px;">{% csrf_token %}
            <div class="form-row align-items-center" style="position: absolute; right: 5px;"> 
                <div class="col-sm-6">
                    <label for="FormInputName">Enter your last visiting ID</label>
                </div>
                <div class="col-sm-2 my-1"  style="align-items: flex-end;">
                    <input type="text" name="id"  class="form-control" id="inlineFormInputName" placeholder="-0-">
                </div>
                <div class="col-sm-3 my-1">
                    <button type="submit" class="btn btn-submit btn-edit " style="margin-left: 0px">Next -> </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
    <div class="col-lg-6" >
        <div class="row camera-div">

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <video id="video" style="position:absolute;" width="500" height="400" > </video>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            
            <div class="col-lg-4"></div>
            <div class="col-lg-4"> <button class="btn btn-submit btn-edit " id="startbutton">Take photo</button></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <div class="col-lg-6 display-pic " style="opacity: 0;">
        <form action="/register/" method="POST">
            {% csrf_token %}
            <div class="row camera-div">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <input type="image" name="img_data" id="photo" src="" alt="click image to display">
                    <input type="hidden" name="img" id="photo2" >
                    <canvas id="canvas" style="display: none;">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"> <div class="btn btn-submit btn-edit " id="resetbutton">Re Take</div></div>
                <div class="col-lg-4"> 
                    <input type="submit" class="btn btn-submit btn-edit " id="nextbutton" value="Next" />
                </div>
            </div>
        </form>
    </div>

</div>
    
{% endblock %}

{% block js %}
// <script>

    var go = false;
    $('#startbutton').click(
        function()
        {
            $('.display-pic').css('opacity','1');
            go = true;
        }
    );
    $('#resetbutton').click(function(){
        $('.display-pic').css('opacity','0');
        go = false;
        });

(function() {
    // The width and height of the captured photo. We will set the
    // width to the value defined here, but the height will be
    // calculated based on the aspect ratio of the input stream.
    // |streaming| indicates whether or not we're currently streaming
    // video from the camera. Obviously, we start at false.
    // The various HTML elements we need to configure or control. These
    // will be set by the startup() function.
    var streaming = false;
    var width = 450;    // We will scale the photo width to this
    var height = 350;     // This will be computed based on the input stream
    $('.camera-div').css('height',height);
    var video = null;
    var canvas = null;
    var photo = null;
    var startbutton = null;
    function startup() {
        video = document.getElementById('video');
        canvas = document.getElementById('canvas');
        photo = document.getElementById('photo');
        startbutton = document.getElementById('startbutton');

        navigator.mediaDevices.getUserMedia({video: true, audio: false})
        .then(function(stream) {
        video.srcObject = stream;
        video.play();
        })
        .catch(function(err) {
            console.log("An error occurred: " + err);
            });

            video.addEventListener('canplay', function(ev){
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth/width);
            
                // Firefox currently has a bug where the height can't be read from
                // the video, so we will make assumptions if this happens.
            
                if (isNaN(height)) {
                height = width / (4/3);
                }
            
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                // canvas.setAttribute('width', height );
                canvas.setAttribute('width', width );
                // canvas.setAttribute('height', width);
                canvas.setAttribute('height', height);
                streaming = true;
            }
        }, false);
        startbutton.addEventListener('click', function(ev){
            takepicture();
            ev.preventDefault();
        }, false);
        
        clearphoto();
    }

    // Fill the photo with an indication that none has been
    // captured.

    function clearphoto() {
        var context = canvas.getContext('2d');
        context.fillStyle = "#AAA";
        context.fillRect(0, 0, canvas.width, canvas.height);

        var data = canvas.toDataURL("image/png")  // here is the most important part because if you dont replace you will get a DOM 18 exception.
        photo.setAttribute('src', data);
        // $('#img-data').setAttribute('value', 123);
        $('#photo2').attr('value', data);
         // it will save locally
    }
    
    // Capture a photo by fetching the current contents of the video
    // and drawing it into a canvas, then converting that to a PNG
    // format data URL. By drawing it on an offscreen canvas and then
    // drawing that to the screen, we can change its size and/or apply
    // other changes before drawing it.

    function takepicture() {
        var context = canvas.getContext('2d');
        if (width && height) {
            canvas.width = width;
            canvas.height = height;
            context.drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL("image/png")  // here is the most important part because if you dont replace you will get a DOM 18 exception.
            photo.setAttribute('src', data);
            $('#photo2').attr('value', data);
        // window.location.href=data; // it will save locally
        } else {
            clearphoto();
        }
    }

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener('load', startup, false);
})();
    {% endblock %}